{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
Instructions
{% endblock %}


{% block content %}
<div class="container-fluid bg-grey">
    <!-- Container (About Section) -->
    <div  class="container bg-grey">

        <div class="col-sm-12">
          <h2>നിർദേശങ്ങൾ </h2><br>
         
         <p> ഓരോരുത്തർക്കും അവരവരുടെ യൂസർ നെയിമും പാസ്സ്‌വേർഡും നിർമിക്കാവുന്നതാണ്. അതിനായി സൈൻ അപ് ഒപ്ഷൻ ഉപയോഗിക്കാം. </p>
        </br>
<p>ഒരു കുടുംബത്തിൽ നിന്ന് എത്രപേർക്കും സൈൻ അപ്പ് ചെയ്യാവുന്നതാണ് 
എന്നാൽ നിങ്ങൾ നൽകുന്ന വിവരങ്ങൾ നിങ്ങൾക്കു എഡിറ്റ് ചെയ്യാൻ നിങ്ങൾ ഏത് യൂസറിൽ നിന്നാണോ വിവരങ്ങൾ നൽകിയത് ആ യൂസർക്ക് മാത്രമേ അത് എഡിറ്റു ചെയ്യാനും സാധിക്കുകയോള്ളൂ.
അതിനാൽ ഒരു കുടുബത്തിൽ നിന്ന് ഒന്നോ രണ്ടോ ആളുകൾ സൈൻ അപ്പ് ചെയ്യുകയോ , അല്ലങ്കിൽ ഒരു കുടുംബത്തിന് കോമ്മൺ യൂസർ ഉണ്ടാക്കുകയോ ചെയ്യാം.</p>
</br>

<p>നിങ്ങളുടെ കുടുംബത്തിന്റെ പേര് , ഇരുമ്പുചോല മഹല്ലിൽ നിങ്ങൾ താമസിക്കുന്ന ഏരിയ എന്നിവ  നൽകിയ ലിസ്റ്റിൽ ഉണ്ടോ എന്ന് ആദ്യം പരിശോധിക്കണം ഇല്ല എങ്കിൽ അത് രണ്ടും ചേർക്കുകയാണ് ആദ്യം വേണ്ടത്. അത് ചേർക്കാനായി Registration എന്ന ലിങ്കിൽ നിന്ന് Family Name , Area എന്ന ലിങ്കുകൾ  ഉപയോഗിക്കുക.</p>
 </br>
<p>നിങ്ങളുടെ പേര് വിലാസം വിദ്യാഭ്യാസം തുടങ്ങിയ പ്രധാന വിവരങ്ങൾ ഇംഗ്ലീഷിൽ മാത്രം നൽകുക എന്നാൽ മാത്രമേ എളുപ്പത്തിൽ സെർച്ച് ചെയ്യാൻ സാധ്യമാകൂ. മറ്റു വിവരങ്ങൾ മലയാളത്തിലോ മംഗ്ളീഷിലോ നൽകാവുന്നതാണ്.</p></br>

<p>മലയാളം ടൈപ്പ് ചെയ്യുന്നതിന് നിങ്ങളുടെ മൊബൈലിലുള്ള മലയാളം ടൈപ്പ് ചെയ്യുന്ന മംഗ്ളീഷ്  വോയ്‌സ് ടൈപ്പ് പോലോത്ത  ഏത് ടൂളും ഉപയോഗിക്കാവുന്നതാണ്. പ്ലേ സ്റ്റോറിൽ മലയാളം ടൈപ്പിംഗ് എന്ന് സെർച്ച് ചെയ്താൽ ധാരാളം ആപ്പുകൾ ലഭ്യമാണ് </p>
 </br>
<p>കമ്പ്യൂട്ടർ ആണ് നിങ്ങൾ ഉപയോഗിക്കുന്നതെങ്കിൽ  <a href="https://www.google.com/intl/ml/inputtools/try/" target="_blank">Google Ezhuthu</a>       ഈ ലിങ്ക് ഉപയോഗിച്ചും മലയാളം ടൈപ്പ് ചെയ്യാം.</p>

 </br>
<p>സത്യസന്ത മായാ വിവരങ്ങ മാത്രം നൽകുക </p>
             <p>ആയതിനാൽ വ്യക്തവും സത്യസന്ധവുമായ വിവരങ്ങൾ മാത്രം നൽകാൻ ശ്രമിക്കുക അല്ലാഹു അനുഗ്രഹിക്കട്ടെ അമീൻ </p>
     
        </div>

      </div>
</div>

{% endblock %}