{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
Introduction
{% endblock %}


{% block content %}
<div class="container-fluid bg-grey">
        <!-- Container (About Section) -->
        <div  class="container bg-grey">

            <div class="col-sm-12">
              <h2>അസ്സലാമു അലൈകും</h2><br>
             
              <h4>ഇരുമ്പുചോല മഹല്ല് കമ്മിറ്റിയുടെ വെബ് പോർട്ടലിലേക്കു നിങ്ങള്ക്ക് സ്വഗതം. </h4>
              <br/> <h4> വിവര സാങ്കേതിക വിദ്യ വളരെ ഏറെ വളർന്ന ഈ കാലഘട്ടത്തിൽ നമ്മുടെ മഹല്ലിന്  മഹലാലിന്റെ പല പ്രവർത്തനങ്ങൾക്കായും മഹല്ലിന്റെ പുരോഗതിക്കായും മഹല്ലിലെ ഓരോ വ്യക്തികളുടെയും വ്യക്തിപരമായ വിവരങ്ങൾ ശേഖരിക്കേണ്ടതായി ഉണ്ട്. 
                        അതിലേക്കായി ഒരുക്കിയതാണ് ഈ വെബ് പോർട്ടൽ.
                               <br> <br> <p> ഇരുമ്പുചോലാ മഹല്ല് നിവാസികൾ അവരുടെയും അവരുമായി ബന്ധപെട്ടു വരുന്ന എല്ലാവരുടെയും എല്ലാ വിധത്തിലുമുള്ള വ്യക്തിഗത വിവരങ്ങൾ  അവരവരുടെ സൗകര്യപ്രകാരം സാവധാനം സമയമെടുത്ത് ഈ വെബ്പോർട്ടലിൽ അപ്ഡേറ്റ് ചെയ്യുകയാണ് വേണ്ടത്. </p>
                                <br> <p> നിങ്ങൾ നൽകുന്ന ഓരോ വിവരങ്ങളും മഹല്ലിലെ  ആവശ്യങ്ങൾക്ക് മാത്രമേ ഉപയോഗപ്പെടുത്തുകയുള്ളൂ </p>
                 <p>ആയതിനാൽ വ്യക്തവും സത്യസന്ധവുമായ വിവരങ്ങൾ മാത്രം നൽകാൻ ശ്രമിക്കുക അല്ലാഹു അനുഗ്രഹിക്കട്ടെ അമീൻ </p>
         
            </div>

          </div>

        
      
          <div class="row">
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-globe logo slideanim"></span>
            </div>
            <div class="col-sm-8">
           
            </div>
          </div>
        </div>
        
        <!-- Container (Services Section) -->
        <div id="services" class="container text-center pt-4 pb-4">
          <h2>Our Expected Services</h2>
          <div class="row slideanim">
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-off logo-small"></span>
              <h4>Mahallu Survey</h4>
              <p>Lorem ipsum dolor sit amet..</p>
            </div>
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-heart logo-small"></span>
              <h4>Family information</h4>
              <p>Lorem ipsum dolor sit amet..</p>
            </div>
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-lock logo-small"></span>
              <h4>Members information</h4>
              <p>Lorem ipsum dolor sit amet..</p>
            </div>
          </div>
          <br><br>
          <div class="row slideanim">
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-leaf logo-small"></span>
              <h4>Nikah Register</h4>
              <p>Lorem ipsum dolor sit amet..</p>
            </div>
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-certificate logo-small"></span>
              <h4>Divorce Register</h4>
              <p>Lorem ipsum dolor sit amet..</p>
            </div>
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-wrench logo-small"></span>
              <h4 style="color:#303030;">Marriage certificate</h4>
              <p>Lorem ipsum dolor sit amet..</p>
            </div>
          </div>
        </div>
        
        <!-- Container (Portfolio Section) -->
        <div id="portfolio" class="container-fluid text-center " style="background-color: rgb(224, 193, 193); color: rgb(245, 243, 238);">
          <h2>We become to be digital</h2><br>
          <h4>Our expected documents</h4>
          <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
            <!-- Indicators -->
           
        
            <!-- Wrapper for slides -->
            <div class="container text-center pb-5" role="listbox">
                <ul style="list-style-type: none">
                <li> <a href="https://smfkerala.com/irsys/file_uploads/161625019130.pdf">MAHALLU ADMISSION REGISTER FORM</a> </li>
                <li> <a href="https://smfkerala.com/irsys/file_uploads/161625026999.pdf">MAHALLU MEMBERSHIP FORM</a> </li>
                <li> <a href="https://smfkerala.com/irsys/file_uploads/161625032347.pdf">MARRIAGE CLEARANCE FORM</a> </li>
                <li> <a href="https://smfkerala.com/irsys/file_uploads/161625032347.pdf">MAHALLU REGISTRATION FORM</a> </li>
                <li> <a href="https://smfkerala.com/irsys/file_uploads/157978123535.pdf">MARRIAGE CLEARANCE FORM</a> </li>
                <li> <a href="https://smfkerala.com/irsys/file_uploads/161625032347.pdf">MARRIAGE CLEARANCE FORM</a> </li>
                <li> <a href="https://smfkerala.com/irsys/file_uploads/161624977051.pdf">DEATH REGISTER CERTIFICATE</a> </li>
                <li> <a href="https://smfkerala.com/irsys/file_uploads/161624890922.pdf">MAHALLU TRANSFER CERTIFICATE</a> </li>
                <li> <a href="https://smfkerala.com/irsys/file_uploads/161624965937.pdf">MARRIAGE ENGAGEMENT FORM</a> </li>
                <li> <a href="https://smfkerala.com/irsys/file_uploads/155722978297.pdf">MARRIAGE APPLICATION FORM</a> </li>
                <li> <a href="https://smfkerala.com/irsys/file_uploads/161624932197.pdf">DIVORCE CERTIFICATE FORM</a> </li>
            </ul>
              
             </div>

             <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
              </ol>
        </div>
     
      
        <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links in navbar + footer link
          $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();
        
              // Store hash
              var hash = this.hash;
        
              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 900, function(){
           
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
          
          $(window).scroll(function() {
            $(".slideanim").each(function(){
              var pos = $(this).offset().top;
        
              var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                  $(this).addClass("slide");
                }
            });
          });
        })
        </script>
{% endblock %}