{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}


{% block content %}
<div style="background:rgb(161, 152, 16) !important" class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Successfully you registered your record.</strong> </p>
    <hr>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/profile/registration" role="button">Continue to another registration</a>
    </p>
  </div>
  
{% endblock %}